/* CSS for Bob Dylan Tribute Page. FreeCodeCamp.com */

body {
  font-family: arial,sans-serif;
  text-align: center;
}

.jumbotron {
  background-color: #d9d9d9;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  margin: 50px 80px 50px 80px;
  border-radius: 6px;
}

h1 {
  font-size: 80px;
  padding-top: -15px;
}

img {
  max-width: 100%;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 6px;
}

.disc {
  background-color: #fff;
  margin: 0 auto 0 18px;
  width: auto;
  padding: 5px;
  border-radius: 6px;
  position: relative;
}

ul {
  list-style: none;
  text-align: left;
}

.grid {font-size: 0;}

.gridItem {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  text-align: center;

}

@media screen and (max-width: 900px) {
  .mobile {
    display: block;
  }

  body {text-align center;}
  .jumbotron {margin: 25px 40px 25px 40px;}
  i {font-size: 18px;}
  #img-desc {font-size: 14px;}

}

@media screen and (max-width: 600px) {
  ul {font-size: 14px;}
  .jumbotron {margin: 15px 25px 15px 25px;}
  i,#img-desc {font-size: 16px;}
}
